.form-wrapper1 button {
    width: 100% !important;
    margin-bottom: 15px;
    // margin-left: 9rem;
    background: none;
    left: 5rem;
    background: none;
    height: 45px;
    -moz-border-radius: 24px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(231, 222, 224);
}