
.my-modal,.my-modal .modal-wrapper 
{ 
	 position: absolute;
	  top: 0 !important;   

	  display: block; 
	  display: contents !important;
	text-align: center;
	justify-content: center; 
	  width: 100% !important;
	  height: 100% !important;     
	  --width: 100% !important;
	  --height: 100% !important; 
	}    