.signature-pad-border {
    border: 3px solid rgb(8, 8, 8);
    /* Set border width and color */
    padding: 10px;
    /* Optional: Add padding for spacing */
}

.full-width {
    width: 100%;
}

ion-toolbar {
    background-color: #04356d;
}